.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
/NewQuickAction3D/build
/DaoGenerator/build
/tmp
/.idea
trineaandroidcommon/build/intermediates/classes/release/cn/trinea/android/common/util/ViewUtils.class
*.class
