<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="im.youtiao.android_client">

    <permission
        android:name="im.youtiao.android_client.permission.JPUSH_MESSAGE"
        android:protectionLevel="signature" />

    <!-- Required -->
    <uses-permission android:name="im.youtiao.android_client.permission.JPUSH_MESSAGE" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />


    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.READ_SYNC_STATS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />

    <application
        android:name=".YTApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat.Light">
        <activity
            android:name=".ui.activity.BootstrapActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.MainActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".ui.activity.LoginActivity"
            android:label="@string/title_activity_login"
            android:windowSoftInputMode="adjustResize|stateVisible" />
        <activity
            android:name=".ui.activity.RegisterActivity"
            android:label="@string/title_activity_register"
            android:windowSoftInputMode="adjustResize|stateVisible" />
        <activity
            android:name=".ui.activity.BulletinDetailActivity"
            android:label="@string/title_activity_bulletin_detail" />
        <activity
            android:name=".ui.activity.GroupDetailActivity"
            android:label="@string/title_activity_group_detail" />
        <activity
            android:name=".ui.activity.NewGroupActivity"
            android:label="@string/title_activity_new_group" />
        <activity
            android:name=".ui.activity.JoinGroupActivity"
            android:label="@string/title_activity_join_group"></activity>
        <activity
            android:name=".ui.activity.GroupProfileActivity"
            android:label="@string/title_activity_group_profile"></activity>
        <activity
            android:name=".ui.activity.GroupMemberActivity"
            android:label="@string/title_activity_group_member"></activity>
        <activity
            android:name=".ui.activity.GroupMemberProfileActivity"
            android:label="@string/title_activity_group_member_profile"></activity>
        <activity
            android:name=".ui.activity.NewBulletinActivity"
            android:label="@string/title_activity_new_bulletin"></activity>
        <activity
            android:name=".ui.activity.SelectSendGroupActivity"
            android:label="@string/title_activity_select_send_group"></activity>
        <activity
            android:name=".ui.activity.ForgotPasswordActivity"
            android:label="@string/title_activity_forgot_password"></activity>
        <activity
            android:name=".ui.activity.FieldEditActivity"
            android:label="@string/title_activity_edit_account_name"></activity>
        <activity
            android:name=".ui.activity.ChangePasswordActivity"
            android:label="@string/title_activity_change_password"></activity>

        <provider
            android:name=".dao.LibraryProvider"
            android:authorities="im.youtiao.android_client.dao.provider" />

        <meta-data
            android:name="roboguice.modules"
            android:value="im.youtiao.android_client.YouTiaoModule" />
        <meta-data
            android:name="roboguice.annotations.packages"
            android:value="roboguice,im.youtiao.android_client" />

        <activity
            android:name="cn.jpush.android.ui.PushActivity"
            android:configChanges="orientation|keyboardHidden"
            android:theme="@android:style/Theme.Translucent.NoTitleBar">
            <intent-filter>
                <action android:name="cn.jpush.android.ui.PushActivity" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="im.youtiao.android_client" />
            </intent-filter>
        </activity>

        <service
            android:name="cn.jpush.android.service.DownloadService"
            android:enabled="true"
            android:exported="false"></service>
        <service
            android:name="cn.jpush.android.service.PushService"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTER" />
                <action android:name="cn.jpush.android.intent.REPORT" />
                <action android:name="cn.jpush.android.intent.PushService" />
                <action android:name="cn.jpush.android.intent.PUSH_TIME" />
            </intent-filter>
        </service>

        <receiver
            android:name="cn.jpush.android.service.PushReceiver"
            android:enabled="true">
            <intent-filter android:priority="1000">
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED_PROXY" />

                <category android:name="im.youtiao.android_client" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>
        <receiver android:name="cn.jpush.android.service.AlarmReceiver" />

        <meta-data
            android:name="JPUSH_CHANNEL"
            android:value="developer-default" />
        <meta-data
            android:name="JPUSH_APPKEY"
            android:value="f0f3323a4fa7a41a7cbcd9b7" />
        <meta-data
            android:name="YOUTIAO_API_HOST"
            android:value="http://api.youtiao.im:3000" />
        <meta-data
            android:name="YOUTIAO_HOST"
            android:value="http://youtiao.im:3000"/>
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="55a6200967e58e2d8e0019c4"/>
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="Wandoujia" />

    </application>

</manifest>
